.DS_Store
__pycache__/
.idea/
.tmp/
.vscode/
bdd/
runs/
inference/
*.pth
*.pt
*.tar
*.tar.gz

lib/dataset/__pycache__
output/

CARLA/
lib/dataset/carla_ds/images/
lib/dataset/carla_ds/labels/

DefendedImages/
PerturbedImages/
lib/dataset/da_seg_annotations/train/
# lib/dataset/da_seg_annotations/ccp
# lib/dataset/da_seg_annotations/ccp
# lib/dataset/da_seg_annotations/ccp
# lib/dataset/da_seg_annotations/ccp

ccp
fgsm
jsma
uap
train


lib/config/default.py
lib/config/

lib/core/Defenses/PreProcessing.py
lib/dataset/bdd.py