.DS_Store
__pycache__/
.idea/
.tmp/
.vscode/
bdd/
runs/
inference/
*.pth
*.pt
*.tar
*.tar.gz

lib/dataset/__pycache__
output/

CARLA/
lib/dataset/carla_ds/images/
lib/dataset/carla_ds/labels/

DefendedImages/
PerturbedImages/
lib/dataset/da_seg_annotations/
lib/dataset/ll_annotations/
lib/dataset/det_annotations/


ccp/
fgsm/
jsma/
uap/
train/
val/


lib/config/default.py
lib/config/

lib/core/Defenses/PreProcessing.py

AttackDefenseYOLO-main/

csvs/
results/